.logo {
    display: flex;
    padding-top: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
}

.icon-container {
    flex:1;
    padding-left: 2rem;
}

.icon {
    background-image: url('../../../images/logo.svg');
    background-repeat: no-repeat;
    height: 3rem;
    width: 3rem;
}

.nav {
    flex: 6;
    justify-content: flex-end;
    padding-right: 2rem;
}

.nav ul {
    display: flex;
    padding-right: 1rem;
}

.nav li {
    padding: 0.8rem;
    font-family:'Times New Roman', Times, serif;
}

.nav h6 {
    color: white;
}

@media (max-width:700px) {
    .icon-container {
        flex: 1;
    }

    .nav {
        flex: 3;
    }
}